.v142_354 {
    width: 100%;
    height: 276px;
    background: url("../../assets/images/v142_354.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 2032px;
    left: 2px;
    overflow: hidden;
  }
  .v142_355 {
    width: 100%;
    height: 276px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v142_356 {
    width: 928px;
    height: 20px;
    background: url("../../assets/images/v142_356.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 55px;
    left: 254px;
    overflow: hidden;
  }
  .v142_357 {
    width: 142px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 121px;
    font-family: Sora;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v142_358 {
    width: 142px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 312px;
    font-family: Sora;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v142_359 {
    width: 69px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 503px;
    font-family: Sora;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v142_360 {
    width: 70px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 621px;
    font-family: Sora;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v142_361 {
    width: 188px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 740px;
    font-family: Sora;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v142_362 {
    width: 72px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Sora;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .name {
    color: #fff;
  }
  .v142_364 {
    width: 499px;
    height: 84px;
    background: url("../../assets/images/v142_364.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 137px;
    left: 468px;
    overflow: hidden;
  }
  .v142_365 {
    width: 296px;
    height: 29px;
    background: url("../../assets/images/v142_365.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 27px;
    left: 203px;
    overflow: hidden;
  }
  .v142_366 {
    width: 123px;
    color: rgba(168,4,26,1);
    position: absolute;
    top: 5px;
    left: 0px;
    font-family: Sora;
    font-weight: Bold;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v142_367 {
    width: 152px;
    height: 29px;
    background: url("../../assets/images/v142_367.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 144px;
    overflow: hidden;
  }
  .v142_368 {
    width: 27px;
    height: 29px;
    background: rgba(168,4,26,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v142_369 {
    width: 27px;
    height: 29px;
    background: rgba(168,4,26,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 41px;
    overflow: hidden;
  }
  .v142_370 {
    width: 27px;
    height: 29px;
    background: rgba(168,4,26,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 83px;
    overflow: hidden;
  }
  .v142_371 {
    width: 27px;
    height: 29px;
    background: rgba(168,4,26,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 124px;
    overflow: hidden;
  }
  .v142_372 {
    width: 145px;
    height: 84px;
    background: url("../../assets/images/v142_372.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }